:80 {
  encode zstd gzip

  redir /shopping-list /shopping-list/ 308

  handle /generated/* {
    root * /srv
    file_server
  }

  handle /assets/* {
    root * /srv/shell
    file_server
  }

  handle /api/shopping-list/* {
    reverse_proxy shopping-list-backend:4300
  }

  @appIcons path_regexp appIcons ^/([a-z0-9-]+)/icons/(.+)$
  handle @appIcons {
    uri strip_prefix /{re.appIcons.1}
    root * /srv/apps/{re.appIcons.1}
    file_server
  }

  @appFrontend path_regexp appFrontend ^/([a-z0-9-]+)/(.*)$
  handle @appFrontend {
    uri strip_prefix /{re.appFrontend.1}
    root * /srv/apps/{re.appFrontend.1}/frontend/dist
    try_files {path} {path}/ /index.html
    file_server
  }

  handle {
    root * /srv/shell
    try_files {path} /index.html
    file_server
  }
}
